.timePicker {
    padding: 5px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.timePicker select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    outline: none;
}

.timePicker option {
    margin: 2px;
}